<html xmlns:th="http://www.thymeleaf.org">
<div class="container">
    <h2>내 장바구니</h2>
    
    <table border="1">
        <thead>
            <tr>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
                <th>합계</th>
                <th>비우기</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${#lists.isEmpty(cartItems)}">
                <td colspan="5">장바구니가 비어 있습니다.</td>
            </tr>
            
            <tr th:each="cartItem : ${cartItems}">
                <td th:text="${cartItem.item.name}">상품명</td>
                <td th:text="${cartItem.item.price} + '원'">가격</td>
                <td th:text="${cartItem.count} + '개'">수량</td>
                <td th:text="${cartItem.item.price * cartItem.count} + '원'">합계</td>
				<td>
					<form th:action="@{/cart/item/{id}/update(id=${cartItem.id})}" method="post" style="display: inline;">
				        <input type="number" name="count" th:value="${cartItem.count}" min="0" style="width: 50px;">
			            <button type="submit">변경</button>
			        </form>
			    </td>
				    
				<td th:text="${cartItem.item.price * cartItem.count} + '원'">합계</td>
				    
				<td>
					<form th:action="@{/cart/item/{id}/delete(id=${cartItem.id})}" method="post">
			 	    	<button type="submit" onclick="return confirm('장바구니에서 삭제하시겠습니까?')">X</button>
			        </form>
			    </td>
            </tr>
        </tbody>
    </table>

    <div style="margin-top: 20px;">
        <h3>총 결제 예정 금액: <span th:text="${totalPrice} + '원'">0원</span></h3>
    </div>

    <div style="margin-top: 20px;">
        <button th:onclick="|location.href='@{/}'|">쇼핑 계속하기</button>
		<form th:action="@{/cart/order}" method="post">
		    <button type="submit" th:if="${!#lists.isEmpty(cartItems)}">상품 주문하기</button>
		</form>
    </div>
</div>
</html>