<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<style>
		.container {
			max-width: 800px;
		}
	</style>
</head>
<body>
	<li class="nav-item" th:if="${session.loginMember != null}">
	    <a class="nav-link" href="/items/list/my">내 상품 관리</a>
		<a class="nav-link" href="/cart">장바구니</a>
		<a class="nav-link" href="/orders">주문 내역 관리</a>
	</li>
	<form action="/" method="get">
	    <input type="text" name="searchQuery" placeholder="상품명을 입력하세요">
	    <button type="submit">검색</button>
	</form>
	<div class="container" style="margin-top: 50px;">
		<div class="py-5 text-center">
			<h2>🛍️ 코팡(Copang)</h2>
		</div>

		<div class="row mb-4">
			<div th:if="${member == null}" class="col text-end">
				<button class="btn btn-secondary" th:onclick="|location.href='@{/login}'|">로그인</button>
				<button class="btn btn-primary" th:onclick="|location.href='@{/members/new}'|">회원 가입</button>
			</div>

			<div th:if="${member != null}" class="col text-end">
				<span th:text="|${member.name}님 환영합니다! |" class="me-2">사용자 이름</span>
				<button class="btn btn-info" th:onclick="|location.href='@{/item/add}'|">상품 등록</button>
				<form th:action="@{/logout}" method="post" style="display:inline;">
					<button class="btn btn-danger" type="submit">로그아웃</button>
				</form>
			</div>
		</div>
		<hr class="my-4">
		<div class="row">
			<h4>📦 판매 중인 상품</h4>
			<table class="table table-striped">
				<thead class="table-dark">
					<tr>
						<th>ID</th>
						<th>이미지</th>
						<th>상품명</th>
						<th>가격</th>
						<th>재고</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${items}">
						<td th:text="${item.id}">1</td>
						<td>
							<img th:src="${item.imageUrl}" alt="상품 이미지" style="width:100px; height:100px;">
						</td>
						<td>
							<a th:href="@{/items/{itemId}(itemId=${item.id})}" th:text="${item.name}">상품명</a>
						</td>
						<td th:text="${#numbers.formatInteger(item.price, 0, 'COMMA') + '원'}">10,000원</td>
						<td th:text="${item.stockQuantity}">10개</td>
					</tr>
					<tr th:if="${#lists.isEmpty(items)}">
						<td colspan="4" class="text-center">등록된 상품이 없습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>